<nav class="text-right nav-css">
  <% if user_signed_in? %>
    <%= @user.name %>
    <%= link_to 'Log out', destroy_user_session_path, method: "delete" %>  
  <% else %>
    <%= link_to 'Log in', new_user_session_path %>  
    <%= link_to 'Sing Up', new_user_registration_path %>  
  <% end %>
</nav>
<div class="text-center">
  <h1>Welcome to Requests</h1>
  <% if @user.admin? %>
    <p><strong>Admin:</strong> <%= @user.admin? %></p>
  <% else %>
    <%= link_to 'New technical request', new_request_path %> 
  <% end %>
</div>
